<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <title>Exchange Tool</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container" id="app" :key="exg">
        <div id="exchange">
            <h3> CURRENCY: {{ exg }}</h3>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" v-for="(rate, currency) in rates">
                        <button class="btn-link" @click="exg = currency" v-on:click="requestData">{{currency}}:</button>
                        {{rate}}
                    </li>
                </ul>
            </div>
            <h3> Exhange Calculator:</h3>
            <div class="row">
                <div class="col-sm">
                    <input type="number" v-model="inputAmount" @keyup="calculateCurrency" @change="calculateCurrency">
                </div>
                <div class="col-sm">
                    <select v-model="exg" @change="requestData">
                        <option v-for="(rate, currency) in rates">{{currency}}</option>
                    </select>
                    <button v-on:click="calculateCurrency">Calculate</button>
                    <select v-model="selectedToCurrency">
                        <option v-for="(rate, currency) in rates">{{currency}}</option>
                    </select>
                </div>
                <div class="col-sm">
                    <input type="number" v-model="outputAmount" disabled>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>